@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(35, 25, 77, 1);

  color: rgba(238, 253, 253, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-s-header.is-open .w-s-header-background {
  left: 0;
}
.w-s-header-button-wrapper {
  margin-left: auto;
}
.w-s-header-icon {
  display: none;
}
.w-s-title-img {
  height: 27px;
}
.w-s-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-s-navigation-list.is-open {
  right: 0;
}
.w-s-header-icon-menu {
  display: block;
}

.w-s-header-icon-button.is-open .w-s-header-icon-menu {
  display: none;
}

.w-s-header-icon-button.is-open .w-s-header-icon-close {
  display: block;
}

.w-s-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 90px;
}

.w-s-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(238, 253, 253, 0.15);
  backdrop-filter: blur(80px);
}
.w-s-header.is-open .w-s-header-background {
  left: 0;
}
.w-s-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 24px;
  border-width: 1px;
  background: rgba(238, 253, 253, 0.15);
  border: 1px solid rgba(255, 255, 102, 1);
}

.w-s-header-icon-menu {
  display: block;
}

.w-s-header-icon-button.is-open .w-s-header-icon-menu {
  display: none;
}

.w-s-header-icon-button.is-open .w-s-header-icon-close {
  display: block;
}

.w-s-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.w-s-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 310px;
  transition: 0.3s;
  z-index: 999;
  padding: 16px;
  border-radius: 0px 0px 20px 20px;
  gap: 12px;
  background: rgba(238, 253, 253, 0.15);
  backdrop-filter: blur(80px);
}

.w-s-navigation-list.is-open {
  right: 0;
}

.w-s-navigation-link {
  font-family: Manrope;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(238, 253, 253, 1);
}

.w-s-navigation-link:hover,
.w-s-navigatioт-link:focus {
  color: rgba(253, 243, 18, 1);
}

.w-s-header.is-open {
  background-color: transparent;
}

.w-s-navigation-img {
  display: none;
}

@media screen and (min-width: 1203px) {
  .w-s-header-button-wrapper {
    background: transparent;
    border: none;
    display: none;
  }
  .w-s-navigation-img {
    display: flex;
    height: 40px;
    margin-right: 40px;
  }
  .w-s-policy-terms-header-icon-menu {
    display: none;
  }

  .w-s-header {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(238, 253, 253, 0.15);
    border: 1px solid rgba(255, 255, 102, 1);

    border-radius: 24px;
  }

  .w-s-header-background {
  }
  .w-s-header-icon-button {
    display: none;
  }
  .w-s-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-s-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-s-navigation-link {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;

    text-decoration: none;
  }

  .w-s-navigation-item-desk {
    display: none;
  }
}
.w-s-home {
  width: 375px;
  height: 611px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40061.png");
  margin: auto;
}
.w-s-home-container {
  width: 375px;
  padding: 132px 16px 0px;
  margin: auto;
}

.w-s-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-s-home-title {
  font-family: Manrope;
  font-weight: 600;
  font-size: 32px;
  line-height: 170%;
  letter-spacing: -3%;
  text-align: center;
}

.w-s-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 27px 12px 92px;
}

.w-s-home-button {
  background: rgba(253, 243, 18, 1);
  width: 343px;

  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: rgba(35, 25, 77, 1);
  transition: all 0.3s ease-in-out;
}

.w-s-home-button:hover {
  box-shadow: 0px 0px 60px 0px rgba(250, 255, 194, 0.5);
}

@media screen and (min-width: 1203px) {
  .w-s-home {
    width: 1440px;
    height: 902px;
    background-image: url("/img/Frame\ 40060.png");
  }
  .w-s-home-container {
    width: 1440px;
    padding: 180px 0px 0px;
  }

  .w-s-home-title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 64px;
    line-height: 170%;
    letter-spacing: -3%;
    text-align: center;
  }

  .w-s-home-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 33px 0 223px;
    width: 636px;
    margin: auto;
  }
  .w-s-home-button {
    width: 283px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    text-align: center;

    padding: 10px;
  }
}

.w-s-why-container {
  width: 375px;
  margin: auto;
  padding: 0 16px;
}
.w-s-why-list {
  padding-top: 16px;
}
.w-s-why-item {
  width: 343px;
  height: 277px;
  padding: 16px;
  background: rgba(237, 240, 255, 0.1);
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.w-s-why-item:hover {
  border: 1px solid rgba(55, 209, 217, 1);
}
.w-s-why-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
  color: rgba(92, 225, 230, 1);
}
.w-s-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 8px;
}
.slick-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Rectangle\ 41.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Rectangle\ 39.png") no-repeat center/cover;
}

@media screen and (min-width: 1203px) {
  .slick-dots li {
    display: none;
  }

  .w-s-why-container {
    width: 1440px;
    padding: 0 72px;
  }
  .w-s-why-list {
    padding-top: 24px;
  }
  .w-s-why-item {
    width: 416px;
    height: 316px;
    gap: 16px;
    padding: 24px;

    margin: 0 12px;
  }
  .w-s-why-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
  }
  .w-s-why-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1px;

    padding-top: 16px;
  }
}

.w-s-uniqueness {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;

  background-image: url("/img/Frame\ 40062.png");
}
.w-s-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 0 0 16px;
}
.w-s-uniqueness-lists {
  display: none;
}
.w-s-uniqueness-item {
  margin: 0 5px;
  width: 343px;
  height: 664px;
  gap: 16px;
  padding: 16px;
  background: rgba(223, 226, 255, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.w-s-uniqueness-item:hover {
  border: 1px solid rgba(234, 24, 147, 1);
}
.w-s-uniqueness-item-img {
  width: 311px;
  height: 266px;

  object-fit: cover;
  object-position: center;
}

.w-s-uniqueness-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0 8px;
}
.w-s-uniqueness-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1203px) {
  .w-s-uniqueness {
    width: 1440px;
    background-image: url("/img/Frame\ 40063.png");
  }
  .w-s-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 110px 72px 0;
  }
  .w-s-uniqueness-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .w-s-uniqueness-list {
    display: none;
  }
  .w-s-uniqueness-item {
    margin: 0;
    width: 636px;
    height: 606px;
    gap: 24px;
    padding: 24px;
  }
  .w-s-uniqueness-item-img {
    width: 588px;
    height: 266px;

    object-fit: cover;
    object-position: center;
  }

  .w-s-uniqueness-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 24px 0 16px;
  }
  .w-s-uniqueness-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-s-about-title {
  font-family: Manrope;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -3%;
  color: rgba(161, 166, 255, 1);
}
.w-s-about-text {
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 40px;
}

.w-s-about-text-bold {
  background: linear-gradient(
    90deg,
    #eefdfd 0.73%,
    #5ce1e6 26.6%,
    #fa3ab5 52.48%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w-s-about-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-top: 24px;
  letter-spacing: 0%;
}
.w-s-about-title-two {
  font-family: Manrope;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(223, 226, 255, 0.5);
  margin-left: -16px;
}
@media screen and (min-width: 1203px) {
  .w-s-about-title-two {
    font-family: Manrope;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-left: -72px;
  }
  .w-s-about-title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -3%;
  }
  .w-s-about-text {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
  }

  .w-s-about-text-bold {
    background: rgba(238, 253, 253, 1);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .w-s-about-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-s-how-container {
  margin: auto;
  width: 375px;
  padding: 0px 16px 0;
}
.w-s-how-texts {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-s-how-textss {
  padding: 24px 0 16px;
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(161, 166, 255, 1);
}
.w-s-how-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.w-s-how-item {
  font-family: Manrope;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 10px;

  background: rgba(254, 241, 250, 0.2);

  border: 1px solid rgba(255, 111, 207, 1);
  transition: all 0.3s ease-in-out;
}
.w-s-how-item:hover {
  border: 1px solid rgba(204, 10, 119, 1);
}
@media screen and (min-width: 1203px) {
  .w-s-how-container {
    margin: auto;
    width: 1440px;
    padding: 110px 72px 0;
  }
  .w-s-how-div {
    display: flex;
    gap: 24px;
  }
  .w-s-how-texts {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 636px;
  }
  .w-s-how-textss {
    padding: 0px 0 24px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-s-how-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 636px;
  }

  .w-s-how-item {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

@media screen and (min-width: 1203px) {
  .w-s-characters {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .w-s-characters-container {
    padding: px;
    margin: auto;
    width: 1440px;
  }
}

.w-s-reviews {
  position: relative;
  margin: auto;
  width: 375px;
  height: 773px;
  z-index: 1;
  overflow: visible;
}

.w-s-background-overlay {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 1184px;
  background-image: url("/img/Rectangle\ 38\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}
.w-s-reviews-container {
  margin: auto;
  padding: 80px 0px 0 16px;
  width: 375px;
}
.w-s-reviews-texts {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-s-reviews-list {
  padding-top: 16px;
}

.w-s-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 348px;
  padding: 16px;
  background: rgba(35, 25, 77, 0.5);

  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #ea1893;
}

.w-s-reviews-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(92, 225, 230, 1);
}

.w-s-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1203px) {
  .w-s-reviews {
    width: 1440px;
    height: 727px;
  }

  .w-s-background-overlay {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    height: 1455px;
    background-image: url("/img/Rectangle\ 38\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
  }
  .w-s-reviews-container {
    margin: auto;
    padding: 110px 72px 0;
    width: 1440px;
  }
  .w-s-reviews-texts {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-s-reviews-list {
    padding-top: 24px;
  }

  .w-s-reviews-item {
    margin: 0 12px;
    width: 746px;
    height: 284px;
    gap: 32px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 24px;
  }

  .w-s-reviews-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-s-reviews-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 32px;
  }
  .w-s-progress-bar {
    width: 100%;
    height: 6px;
    background: rgba(253, 243, 18, 0.2);

    border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
  }

  .w-s-progress-fill {
    height: 100%;
    width: 0%;
    background: rgba(253, 243, 18, 1);

    transition: width 1s ease-in-out;
  }
}
.w-s-faq {
  width: 375px;
  margin: auto;
}
.w-s-faq {
  position: relative;
  margin: auto;
  z-index: 1;
  overflow: visible;
}

.w-s-faq-background-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1190px;
  background-image: url("/img/Frame\ 40060\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.w-s-faq-container {
  padding: 80px 16px 0px;
  width: 375px;
  margin: auto;
}
.w-s-faq-list {
  padding-top: 40px;
}
.w-s-faq-lists {
  display: none;
}
.w-s-faq-list-item {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0 12px;
}
.w-s-faq-item {
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

.w-s-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(161, 166, 255, 1);
}

.w-s-faq-answer {
  display: none;
  padding-top: 24px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.w-s-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-s-toggle-button img {
  transition: transform 0.3s ease;
}

.w-s-faq-list .slick-track {
  display: flex !important;
  align-items: flex-start !important;
}

.w-s-faq-list .slick-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
}
@media screen and (min-width: 1203px) {
  .w-s-faq {
    width: 1440px;
  }
  .w-s-faq-container {
    padding: 110px 72px 0;
    width: 1440px;
    margin: auto;
  }
  .w-s-faq-background-overlay {
    position: absolute;
    left: 0;
    margin-top: -620px;
    width: 100%;
    height: 2417px;
    background-image: url("/img/Frame\ 40061\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
  }

  .w-s-faq-list {
    display: none;
  }
  .w-s-faq-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    gap: 24px;
  }

  .w-s-faq-item {
    padding: 0px;
    background: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    width: 636px;
    margin: 0;
  }

  .w-s-faq-question {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    background: rgba(0, 0, 0, 0.3);
    padding: 32px;
  }

  .w-s-faq-answer {
    display: none;
    padding: 0px 32px 32px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.w-s-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.w-s-features-q {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 40px 0 12px;
}
.w-s-features-w {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-s-features-e {
  font-family: Manrope;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(134, 132, 177, 1);
  padding: 12px 0 12px;
}
.w-s-features-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(253, 243, 18, 1);
}
.w-s-features-text-bolds {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(238, 253, 253, 1);
  text-decoration: none;
  margin-left: 16px;
}
@media screen and (min-width: 1203px) {
  .w-s-features-container {
    width: 1440px;
    margin: auto;
    padding: 110px 72px;
  }
  .w-s-features-q {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 56px 0 16px;
  }
  .w-s-features-w {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-s-features-e {
    font-family: Manrope;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 16px 0;
  }
  .w-s-features-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-s-features-text-bolds {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-left: 16px;
  }
}

.w-s-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-s-container h1 {
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.w-s-container h2 {
  margin-top: 10px;
}

.w-s-container h3 {
  margin-top: 10px;
}

.w-s-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-s-container ul li {
  margin-bottom: 10px;
}
.w-s-container p {
  margin-top: 10px;
}
.w-s-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-s-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1203px) {
  .w-s-container {
    padding: 183px 72px 107px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-s-container h1 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-s-container h2 {
    margin-top: 20px;
  }

  .w-s-container h3 {
    margin-top: 20px;
  }

  .w-s-container ul {
    margin-top: 20px;
  }

  .w-s-container ul li {
    margin-bottom: 10px;
  }
  .w-s-container p {
    margin-top: 20px;
  }
}

.w-s-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.w-s-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-s-footer-text {
  text-decoration: none;
  color: inherit;
}

.w-s-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 0 60px;
  text-align: center;
}
.w-s-footer-title {
  display: flex;
  gap: 23px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-s-footer-title-q {
  color: rgba(238, 253, 253, 1);
  text-decoration: none;
}
.w-s-footer-title-two {
  display: none;
}
@media screen and (min-width: 1203px) {
  .w-s-footer-container {
    width: 1440px;
    padding: 24px;

    gap: 16px;
  }

  .w-s-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 12px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-s-footer-text {
  }

  .w-s-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .w-s-footer-title {
    display: none;
  }

  .w-s-footer-title-two {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-s-footer-title-two img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
}

.w-s-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  border-radius: 16px;
  background: rgba(95, 63, 236, 1);
  backdrop-filter: blur(60px);

  z-index: 1000;
  display: none;
}

.w-s-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(238, 253, 253, 1);
}

.w-s-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-s-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(253, 243, 18, 1);
  width: 125px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 14px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(238, 253, 253, 1);
}

#accept-cookies {
  background: rgba(253, 243, 18, 1);
  color: rgba(35, 25, 77, 1);
}

.w-s-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.w-s-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1203px) {
  .w-s-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }

  .w-s-cookie-popup-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .w-s-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-s-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
